.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.page-header{
    padding: 30px 0;
}
@media screen and (min-width: 1200px){
    .page-header__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width: 0) and (max-width: 1200px) {
    .page-header__wrapper{
        text-align: center;
    }
    .page-logo{
        display: block;
        margin-bottom: 15px;
    }
}
.slider{
    text-align: center;
}
.slider > img{
    width: 100%;
}
.box{
    border: 1px solid black;
}
.box img{
    width: 100%;
}
.box__content{
    padding: 10px 0 0 0;
}
.box__content > p{
    padding: 5px;
}
.grid-columns-item{
    margin: 30px 0;
}
.box-buttons{
    display: flex;
    align-items: center;
}
.button-desc{
    background-color: #b9b9b9;
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
}
.button-desc > a{
    text-decoration: none;
    color: #000;
}
.button-buy{
    background-color: #14881d;
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
}
.button-buy > a{
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width: 768px){
    .grid-columns{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .grid-columns-item{
        flex-basis: 33%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1200px) and (min-width: 768px){
    .grid-columns-item{
        flex-basis: 48%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1200px){
    .grid-columns-item{
        flex: 1;
    }
}
.page-short-desc-item{
    float: left;
    padding: 0 25px 25px 0;
}
@media screen and (max-width: 768px){
    .page-short-desc{
        background-color: #e5e4e4;
        padding: 30px 0;
    }
    .page-short-desc-item{
        float: none;
        text-align: center;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) and (min-width:768px){
    .page-short-desc{
        background-color: #e5e4e4;
        padding: 30px 0;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1200px){
    .two-columns-grid{
        display: flex;
        margin: 20px 0;
        gap: 40px;
    }
    .two-columns-grid-item{
        flex: 1;
    }
}
@media screen and (max-width: 768px){
    .background{
        background-color: #e5e4e4;
        padding: 30px 0;
    }
    .two-columns-grid{
        margin: 20px 0;
    }
}
.two-columns-grid-item > img{
    width: 100%;
}
@media screen and (max-width:1200px) and (min-width: 768px){
    .two-columns-grid-item > img{
        display: block;
        margin: 20px auto;
        width: 50%;
    }
    .background{
        background-color: #e5e4e4;
        padding: 30px 0;
    }
}
.three-rows-item-img{
    float: left;
    padding: 0 20px 20px 0;
}
@media screen and (max-width:1200px) and (min-width: 768px){
    .three-rows-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width: 768px){
    .four-columns-grid{
        display: flex;
        flex-wrap: wrap;
    }
    .four-columns-grid-item{
        flex-basis: 50%;
        margin-bottom: 0;
    }
    .four-columns-grid-item:last-child{
        margin-right: 0;
    }
}
@media screen and (min-width: 1200px){
    .four-columns-grid-item{
        flex: 1;
    }
}
.page-footer{
    padding: 30px 0;
    background-color: #000;
    color: #fff;
}
.copy > p{
    font-size: 10px;
}